.section {
    padding: 20px;
    transition: all 0.3s;
    border: 1px solid rgb(0, 0, 0);
    width: auto;
    margin: auto;
    display: block;
    margin-bottom: 8px;
    border-radius: 5px;
    break-inside: avoid;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.42);
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.section.comp {
    display: inline-table;
}

@media all and (max-width: 1200px) {
    input.section-tops {
        width: 37vw;
    }
}

@media all and (max-width: 1133px) {
    input.section-tops {
        width: 34vw;
    }
    #sections {
        width: 95%;
        display: block;
        margin: auto;
        float: none;
    }
    .section {
        width: 92%;
    }
}

@media all and (min-width: 1024px) {
    .edit-row:hover {
        color: white;
        border: 1px solid rgba(0, 201, 255, 0.7);
        background: rgba(45, 97, 204, 0.7);
    }
    .edit-row.done:hover,
    .section .section-tops:nth-child(3):hover,
    .section .section-tops:nth-child(2):hover,
    #addButton:hover {
        border: 1px solid rgba(0, 255, 7, 0.7);
        background: rgba(57, 195, 61, 0.7);
        cursor: pointer;
        color: white;
        transition: 0.3s all;
    }
    .delete-row:hover,
    .section .section-tops:nth-child(3):hover {
        color: white;
        border: 1px solid rgba(255, 0, 0, 0.7);
        background: rgba(198, 57, 57, 0.7);
    }
    .sortable li:hover {
        background: rgba(0, 0, 0, 0.1);
    }
}

@media all and (max-width: 992px) {
    #sections {
        column-count: 1;
    }
    .section,
    .section.comp {
        width: 90%;
        display: block;
        float: none;
        margin: auto;
        margin-bottom: 8px;
    }
    input.section-tops {
        width: 85%;
    }
    /* MOBILE */
    #addButton:active {
        background: rgba(0, 128, 0, 0.32);
        color: rgba(0, 0, 0, 0.75);
        cursor: pointer;
        transition: 0.3s all;
    }
    .section .section-tops:nth-child(3):active,
    .section .section-tops:nth-child(2):active {
        background: rgba(0, 128, 0, 0.32);
        color: rgba(0, 0, 0, 0.75);
        cursor: pointer;
        transition: 0.3s all;
    }
    .section .section-tops:nth-child(3):active {
        background: rgba(128, 0, 0, 0.32);
    }
    .sortable li:active {
        background: rgba(0, 0, 0, 0.1);
    }
    .delete-row:active {
        color: white;
        border: 1px solid rgba(139, 0, 0, 0.65);
        background: rgba(139, 0, 0, 0.65);
    }
    .edit-row:active {
        color: white;
        border: 1px solid rgba(0, 3, 111, 0.65);
        background: rgba(0, 3, 111, 0.65);
    }
    .edit-row.done:active {
        border: 1px solid rgba(0, 111, 3, 0.65);
        background: rgba(0, 111, 3, 0.65);
    }
}

@media all and (max-width: 768px) {
    input.section-tops {
        max-width: 75%;
    }
    .section {
        width: 80%;
    }
}

@media all and (max-width: 430px) {
    input.section-tops {
        max-width: 50vw;
    }
    .section,
    .section.comp {
        width: 85%;
    }
}