.section {
    padding: 20px;
    transition: all 0.3s;
    border: 1px solid;
    width: 46.3%;
    margin: auto;
    display: inline-table;
    margin-bottom: 4.9px;
}

@media only screen and (max-width: 1200px) {
    input.section-tops {
        width: 37vw;
    }
    .section {
        width: 45.6%;
    }
}

@media only screen and (max-width: 1133px) {
    .row-link {
        width: 175px;
    }
}

@media only screen and (max-width: 992px) {
    .row-link {
        width: 52vw;
    }
    .section {
        width: 90%;
        display: block;
    }
    input.section-tops {
        width: 80vw;
    }
}

@media only screen and (max-width: 768px) {
    input.section-tops {
        max-width: 60vw;
    }
    .section {
        width: 80%;
    }
}

@media only screen and (max-width: 430px) {
    .row {
        max-width: 83%;
    }

    input.section-tops {
        max-width: 53vw;
    }
}