.section {
    padding: 20px;
    transition: all 0.3s;
    border: 1px solid;
    width: 94%;
    display: inline-block;
    float: right;
    margin-bottom: 8px;
    break-inside: avoid;
}

.section.comp {
    display: inline-table;
    float: none;
}

@media all and (max-width: 1200px) {
    input.section-tops {
        width: 37vw;
    }
    /* .section {
        width: 45.6%;
    } */
}

@media all and (max-width: 1133px) {
    input.section-tops {
        width: 35vw;
    }
    .row-link {
        width: 175px;
    }
    #sections {
        width: 95%;
        display: block;
        margin: auto;
        float: none;
    }
    .section {
        width: 92%;
    }
}

@media all and (max-width: 992px) {
    .row-link {
        width: 52vw;
    }
    #sections {
        column-count: 1;
    }
    .section,
    .section.comp {
        width: 90%;
        display: block;
        float: none;
        margin: auto;
        margin-bottom: 8px;
    }
    input.section-tops {
        width: 75vw;
    }
}

@media all and (max-width: 768px) {
    input.section-tops {
        max-width: 60vw;
    }
    .section {
        width: 80%;
    }
    .row input {
        max-width: 45%;
    }
}

@media all and (max-width: 430px) {
    .row {
        max-width: 83%;
    }
    input.section-tops {
        max-width: 53vw;
    }
    .section,
    .section.comp {
        width: 85%;
    }
}